<!-- Icons purchased via Iconfinder under Basic License -->
<link rel="stylesheet" type="text/css" href="/assets/css/404.css"/>

<body class="permission_denied">
  <div id="particles-js"></div>
  <div class="denied__wrapper">
    <h1>404</h1>
    <h3>페이지를 찾을 수 없습니다.</h3>
    <span>존재하지 않는 주소를 입력하셨거나, 요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.<span>
    <img id="owl" src="/assets/img/owl.png" style="width:40%; height:40%; display:block; margin-left:auto; margin-right:auto; margin-top:50px; margin-bottom:50px;"/>
    <a href="/"><button class="denied__link">메인화면으로</button></a>
    <a href="javascript:history.back();"><button class="denied__link">이전 페이지로</button></a>
  </div>
</body>
