<!DOCTYPE html>

<html>
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>antLog</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />

    <!--Fonts-->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">-->

    <!--Beyond styles-->
    <link id="beyond-link" href="/assets/css/beyond.min.css" rel="stylesheet" />
    <link href="/assets/css/demo.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />

    <!-- Custom CSS--->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="/assets/js/skins.min.js"></script>

</head>
<!--Head Ends-->
<!--Body-->
<body id="loginbg">

    <!--랜덤 백그라운드-->
    <script type="text/javascript">
        document.write("<body background='/assets/img/bg/" + Math.ceil(Math.random()*2) + ".jpg'>");
    </script>

  <div>
      <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
          <h1 class="logo-name"><img src="/assets/img/logo-sm.png" alt="LogLog 로고"></h1>
        </div>
        <h3>Welcome to ANTLOG</h3>
          <p>사이트를 이용하기 위해서는 ID와 <br/>비밀번호가 필요 합니다.
          </p>
          <form class="mgt15" role="form" action="/searchLog">
              <div class="form-group">
                  <input type="text" class="form-control text-center w300" placeholder="ID" value="test" required>
                  <input type="password" class="form-control text-center w300" placeholder="비밀번호" value="test" required>
              </div>
              <button type="submit" class="btn btn-primary block full-width m-b w300"><i class="fa fa-key"></i>&nbsp;&nbsp;로그인(임시)</button><br>
              <a href="#"><small>로그인에 문제가 있으십니까?</small></a>
          </form>
          <p class="m-t"> <small>Copyright 2018. E4NET Co.,Ltd. All rights reserved.</small> </p>
      </div>
  </div>

    <!--Basic Scripts-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/slimscroll/jquery.slimscroll.min.js"></script>

    <!--Beyond Scripts-->
    <script src="/assets/js/beyond.js"></script>
    
</body>
<!--Body Ends-->
</html>
