<div class="ui inverted labeled icon left inline vertical sidebar menu" style="">
    <a class="item" id="dashboard" href="/dashboard">
        <i class="home icon"></i>
        대시보드
    </a>
    <a class="item" id="searchLog" href="/searchLog">
        <i class="search icon"></i>
        로그검색
    </a>
    <a class="item" id="developTool" href="/developTool">
        <i class="code icon"></i>
        개발도구
    </a>
    <a class="item" id="setting" href="/setting">
        <i class="cogs icon"></i>
        Setting
    </a>
</div>
